@import "../../assets/styles/variables";

.event-settings {
  padding-bottom: calc(#{$navBottomPadding} + 1.5rem);
  &__title {
    margin-bottom: 0.3rem;
  }
  &__desc {
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: $primaryBlack;
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__main-view {
    &-option {
      margin-bottom: 16px;
      & .category-option__icon-container {
        margin-right: 20px;
      }
    }
  }
  &__time-specification-form {
    &-desc {
      margin-bottom: 1.25rem;
    }
    &-range-field {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
      &-input {
        width: calc(50% - 0.3rem);
      }
    }
    &-time-range {
      margin-bottom: 4px;
    }
  }
  &__tickets-form {
    &-input {
      margin-bottom: 4px;
    }
    &-desc {
      margin-bottom: 55px;
    }
  }
  &__associations-view {
    &-header {
      margin-bottom: 7px;
    }
    &-shop-controls {
      .shop-controls-list {
        padding: 10px 15px;
      }
    }
    &-shop-controls-container {
      margin-bottom: 12px;
      padding: 0;
    }
    &-desc {
      margin-bottom: 12px;
    }
    &-list {
      margin-bottom: 1rem;
    }
  }
}