@import "../../../assets/styles/variables";

.linker {
  padding: 3px 12px;
  // border: 1px solid $borderGrey;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
  display: inline-block;
  color: $primaryBlue;
  transition: 0.25s;
}
.linker:hover {
  color: #007bff93;
}

.linker-icon {
  padding: 5px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  background: rgba(230, 232, 235, 0.6);
}

.dark .linker-icon {
  background: #fff;
}

.dark .linker {
  color: #fff;
}
