@import "../../../assets/styles/variables";

.row-button {
  height: $buttonHeight;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;

  &__left {
    display: flex;
    align-items: center;
  }

  & svg:first-child {
    margin-right: 20px;
  }
}
