.org-types-view {
  position: relative;
  &__content {
    padding: 20px 0 30px;
  }
  &__card {
    background: #F5F5F5;
    border-radius: 8px;
    min-height: 60px;
    padding: 10px 20px;
    & svg { min-width: 24px }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &-left {
      overflow: hidden;
      & p:last-child { color: #818C99;}
    }
  }
}