@import "../../../assets/styles/variables";

.rent-clients {
  &__date-selection {
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 0.4rem;
    margin-bottom: 1.6rem;

    &-interval {
      margin-top: 0.4rem;
      color: $primaryBlue;
    }
  }
  &__list-item {
    margin-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}