@import "../../assets/styles/variables";

.org-receipts-user-page {
  &__search-header {
    margin-bottom: 1.25rem;
  }
  &__content { padding-bottom: $navbarBottomPadding; }
  &__top {
    padding-bottom: 5px;
    border-bottom: 1px solid #F5F5F5;
    cursor: pointer;
  }
  &__summary {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  &__list {
    padding-top: 15px;
  }
}