@import "../../../assets/styles/variables";

.search-input-qr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 0 15px;
  background: #FFFFFF;
  border: 1px solid #D6E0E7;
  border-radius: 8px;
  width: 100%;

  &__search {
    min-width: 24px;
    & path { fill: #818C99; }
  }
  &__input {
    width: 100%;
    flex-grow: 1;
    margin: 0 10px;
    border: none;
    outline: none;
  }
  &__submit {
    height: 24px;
    transform: rotate(180deg);
    & path {
      // fill: $primaryBlue;
    }
  }
}