@import "../../assets/styles/variables";

.multiple-image-uploader {
  &__preview {
    border: 1px solid #E6E8EB;
    border-radius: 11px;
    margin-bottom: 7px;
    overflow: hidden;
    position: relative;
    font-size: 0;
    &-remove {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #F5F5F5;
      border: 1px solid #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
      }
    }
    & img {
      width: 100%;
    }
  }
  &__placeholder {
    margin-bottom: 0.5em;
  }
  &__images {
    margin: 0 -15px;
    &-upload { margin-left: 15px; }
    &-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 5px 0;
    }
    &-mock {
      min-width: 15px;
      width: 15px;
      height: 80px;
    }
    &-item {
      width: 80px;
      height: 80px;
      min-width: 80px;
      border: 1px solid #E6E8EB;
      border-radius: 11px;
      overflow: hidden;
      cursor: pointer;
      margin-left: 8px;
      &:hover { opacity: 0.8; }
      &.active {
        border: 2px solid $primaryBlue;
        box-shadow: 0 0 4px #007AFF;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-frame {
        background: red;
      }
    }
  }
}