@import "../../../../assets/styles/variables";

.rent-client-card {
  display: flex;

  &__avatar {
    margin-right: 0.75rem;
    border: 0.5px solid #E6E8EB;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    overflow-x: hidden;
  }
  &__info {
    overflow-x: hidden;
  }
  &__rental-period {
    color: #007AFF;
    margin-top: 0.2rem;

    &--active {
      color: $c-green-27ae60;
    }
  }
  &__action {
    min-width: 96px;
    color: #007AFF;
    &:disabled {
      color: $c-green-27ae60;
      cursor: initial;
    }
  }
}