@import "../../assets/styles/variables";

.search-page {
  padding-bottom: $navbarBottomPadding;
  &__content {
    margin-top: 20px;
    & .organization-dsc-card {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  &__region {
    margin: 10px 0;
  }
}