@import "../../assets/styles/variables";

@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.services-page {
  padding-bottom: $navbarBottomPadding;
  min-height: 100vh;
  & .container {
    padding: 0 5px;
    @include md {
      padding: 0 15px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0 15px 26px;
  }

  &__nav-link {
    padding: 7px;
    color: $primaryBlack;
    position: relative;
    font-weight: 500;
    transition: 0.25s;
    transition: color 0.25s ease;
    transition: width 0.25s ease;
    font-size: 14px;

    &:hover {
      color: #007aff;
      transition: 300ms;
    }

    &::before {
      content: "";
      z-index: -1;
      height: 29px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 24px;
      opacity: 0;
      box-shadow:
        0px 0px 1px #fff,
        0px 0px 4px 0 rgba(0, 122, 255, 0.25);
      background: #fff;
      transition:
        opacity 300ms ease,
        transform 300ms ease;
    }

    &::after {
      content: "";
      height: 2px;
      border-radius: 5px;
      width: 0;
      position: absolute;
      bottom: -6px;
      left: 0;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      background: #007aff;
      transition: width 0.25s ease;
    }

    &-active {
      color: #007aff;
      // border-bottom: 2px solid $primaryBlue;

      &::before {
        opacity: 1;
      }

      &::after {
        width: 70%;
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__controls {
    padding: 12px 18px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 150px));
    gap: 6px; // Gap between grid items
    margin-top: 20px; // Adjust for fixed header
    justify-content: space-around;
    @media (min-width: 520px) {
      grid-template-columns: repeat(3, minmax(150px, 150px));
    }
    @media (min-width: 720px) {
      grid-template-columns: repeat(4, minmax(150px, 150px));
    }
    @media (min-width: 900px) {
      grid-template-columns: repeat(5, minmax(150px, 150px));
      gap: 30px;
    }

    // @media (max-width: 900px) {
    //   grid-template-columns: repeat(5, minmax(150px, 150px));
    // }

    &-item {
      width: 100%;
      background-color: #fff;
      border-radius: 12px;
      overflow: hidden;
      text-decoration: none; // Remove underline for links
      color: inherit; // Inherit text color
      display: flex;
      flex-direction: column;

      &-content {
        padding: 12px;
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      &-image-wrap {
        background-color: #fff;
        border-radius: 16px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: 60px; // Icon size
        height: 60px; // Icon size
        position: absolute;
        top: -30px; // Half of icon height to overlap banner
        left: 12px;
      }

      &-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 12px; // Match wrap radius
      }

      &-title {
        font-size: 16px;
        font-weight: 600;
        margin-top: 36px; // Space for the overlapping icon
        margin-bottom: 4px;
        line-height: 1.3;
        color: #2c2d2e;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; // Ensure text stays on one line
      }

      &-title--clamp-text {
        // Specific class for truncation if name is too long
        width: 100%; // Ensure it takes full width before truncating
      }

      &-description {
        font-size: 12px;
        color: #818c99;
        line-height: 1.4;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; // For multi-line ellipsis
        -webkit-line-clamp: 2; // Show up to 2 lines
        -webkit-box-orient: vertical;
        white-space: normal; // Allow text to wrap within the clamped lines
      }
    }
  }
  & .services-slider {
    &__wrap {
      border-radius: 16px;
    }
    & .swiper-wrapper {
      padding-left: 15px;
      border-radius: 16px;
    }

    &__wrap {
      position: relative;
      overflow-x: hidden;
    }
    &__slide {
      max-width: 176px;
      display: flex;
      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -50px;
      }

      &-banner {
        width: 100%;
        border-radius: 12px;
        transition: filter 0.2s ease;
        padding-top: 100%;
        &:hover {
          filter: brightness(0.7);
        }
      }
    }
    &__slide-link {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    &__slide-image-wrap {
      margin-bottom: 12px;
      position: relative;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3px;
      box-shadow:
        0 0 1px #000,
        0 4px 8px rgba(0, 0, 0, 0.04),
        0 0 2px rgba(0, 0, 0, 0.06),
        0 0 1px rgba(0, 0, 0, 0.04);

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: linear-gradient(
          180deg,
          #156cfd 0%,
          #ff8a00 62.88%,
          #7000ff 100%
        );
        border-radius: 50%;
      }
    }
    &__slide-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      z-index: 1;
    }
    &__slide-title-wrap {
      width: 100%;
      flex-grow: 1;
      justify-content: center;
      padding: 0 3px;
    }
    &__slide-title {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      width: 100%;
      letter-spacing: -0.15px;
      font-weight: 600;
      font-family: "Plus Jakarta Sans", sans-serif;
      width: 100%;
      text-align: start;
      &-wrap {
        flex-direction: column;
        h5 {
          text-align: start;
        }
        p {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 14px;
          color: #61758a;
          margin-top: 8px;
          text-align: start;
          line-height: 20px;
          width: 100%;
          text-align: start;
          margin-bottom: 24px;
          @include md {
            margin-bottom: 0;
          }
        }
      }
      &--clamp-text {
        width: 155px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .hotlinks-page_card {
    width: 100%;
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
}

.post-header__buttons {
  gap: 10px;
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.services-page__search-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1170px;

  background: #fff;
  z-index: 999;
  padding: 10px;
}

.services-page__search-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  padding-bottom: 12px;

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
  }

  button {
    background: none;
    border: none;
    font-size: 18px;
  }
}

.services-page__search-wrapper-input {
  background: #ebedf0;
  border-radius: 8px;
  width: 100%;
  height: 36px;
  padding: 0 20px 0 10px;
  display: flex;
  align-items: center;
}

.services-page {
  &.dark {
    background-color: #00193f;
    color: #fff;

    .services-page__nav-link {
      color: #fff;

      &-active {
        color: #007aff;
      }

    }
  }
}
