@import "../../assets/styles/mixins";

.message-create-page {
  &__preloader {
    @include fullHeight;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__recipients, &__partners {
    margin-top: 25px;
  }
}