@import "../../../assets/styles/variables";

.message-textarea {
  width: 100%;
  padding: 20px 20px 40px;
  background: #F2F3F5;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
  &::-webkit-scrollbar { width: 0 !important };
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $textGrey;
  }

  &__counter {
    color: $textGrey;
    text-align: right;
    transform: translate(-15px,-35px);
    &-error {
      color: $errorRed
    }
  }

  &__error {
    border-color: $errorRed;
  }

  &__error-text {
    margin-top: -15px;
    color: $errorRed
  }
}