@import "@styles/variables.scss";

.root {
  margin-bottom: calc(#{$navBottomPadding} + 1rem);
}

.header {
  margin-bottom: 1.25rem;
}

.subtitle {
  font-weight: 500;
}

.addAddrBtn {
  margin-bottom: 0.75rem;
}

.deliveryAddress {
  box-shadow: 0 2px 24px 0 #C2C6CB4D;
  border-radius: 16px;
  margin-bottom: 1.5rem;
  padding: 1.5rem 0 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &Title {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #000;

    & svg {
      vertical-align: middle;
    }

    &_selected {
      color: #27AE60;
    }
  }
}