@import "../../assets/styles/variables";

.image-uploader {
  position: relative;
  height: 72px;
  min-height: 72px;
  width: 72px;
  min-width: 72px;
  border: 1px solid #E6E8EB;
  border-radius: 12px;
  overflow: hidden;
  z-index: 0;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: $primaryBlue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  & input {
    position: absolute;
    top: -100vh;
    opacity: 0;
  }

  &__error {
    border-color: #F93C10;
    & .image-uploader__label {
      color: #F93C10;
    }
  }
}