@import "../../../assets/styles/variables";

.proceed-discount-form {


  

  &__rounded-btn {
    margin-top: 15px;
    width: 44px;
    height: 44px;
    background: #FFF;
    border-radius: 50%;
    position: relative;
    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__header {
    margin-top: 20px;
    & .org-avatar {
      width: 52px!important;
      height: 52px!important;
    }
  }

  &__order {
    margin-top: 30px;
    color: $textGrey;
    & span {
      margin-top: 5px;
      display: block;
      font-size: 24px;
      line-height: 28px;
      color: $primaryBlack;
    }
  }

  &__client {
    background: #F5F5F5;
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    padding: 15px 10px;
    align-items: center;
    &-avatar { margin-right: 10px; }
    &-name span { display: block; }
    &-content {
      color: $textGrey;
      & p:last-child { margin-top: 2px; }
      & span { color: $primaryBlack; }
    }
  }

  &__amount {
    margin-top: 20px;
    color: #007AFF;
    font-size: 16px !important;
    font-weight: 600;
    & input:disabled {
      opacity: 1;
      color: inherit!important;
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__percent {
    flex-grow: 1;
  }
  &__manual {
    min-width: 82px;
    max-width: 82px;
    margin-top: 25px;
    border-bottom: 1px solid $lightGrey;
    padding-bottom: 5px;
    margin-left: 15px;
    &-input {
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      text-align: right;
      width: 40px;
      border: none;
      outline: none;
      &:disabled {
        background: transparent;
      }
    }
  }

  &__dashed {
    color: $textGrey;
    padding: 15px 0;
    border-bottom: 1px dashed $lightGrey;
    & span:last-child,
    & b {
      color: $primaryBlack;
    }
  }

  &__buttons {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &__cashback {
    position: relative;
    flex-grow: 1;
    &-arrow {
      position: absolute;
      right: 0;
      bottom: 5px;
    }
    &-currency {
      min-width: 82px;
      max-width: 82px;
      padding: 4px 0;
      text-transform: uppercase;
      border-bottom: 1px solid $lightGrey;
      text-align: center;
      color: $textGrey;
      margin-left: 15px;
      &-active { color: #000; }
    }
  }
}

.proceed-discount-form__amount-currency {
  position: relative;
}