@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.org-partners-page {
  max-width: 700px;
  margin: 0 auto;
  &__header {
    .mobile-search-header__main-search {
      right: 35px;
    }
    .mobile-search-header__main h5 {
      padding: 0 50px;
    }
  }
  &__content {
    @include minHeightWithHeader;
    padding: 20px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__count {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & a {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-left: 10px
    }
  }

  &__item {
    &-disabled {
      pointer-events: none;
    }
    &-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
    }

    &-accept,
    &-decline,
    &-pending {
      background: #F5F5F5;
      border-radius: 10px;
      padding: 6px 16px;
    }
    &-pending {
      color: $textGrey;
    }
    &-accept {
      color: #008744;
      margin-right: 10px;
    }
    &-decline { color: #D72C20; }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__tools {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
  }
  &__qr {
    background: #E5E5E5;
    @include fullHeight;
    &-header {
      min-height: 44px;
    }
    &-organization {
      margin-top: 40px;
      &-title {
        margin-top: 15px;
        text-align: center;
      }
      &-avatar {
        margin: 0 auto;
      }
    }
    &-code {
      background: #FFFFFF;
      border-radius: 23px;
      padding: 15px;
      width: 280px;
      max-width: 280px;
      margin: 40px auto 15px;
    }
    &-id {
      text-align: center;
      color: $textGrey;
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }

  &__scan {
    &-header {
      margin-top: 50px;
    }
    &-back {
      min-width: 44px;
      min-height: 44px;
      border-radius: 50%;
      background: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__empty {
    &-image {
      display: block;
      max-width: 100%;
      margin: 30px auto 0;
    }
    &-title {
      text-align: center;
      margin-top: 15px;
      color: $textGrey;
    }
    &-link {
      display: block;
      margin-top: 20px;
      text-align: center;
      color: $primaryBlue;
    }
  }
}