.back-button {
  outline: none;
  border: none;
  align-self: flex-start;
  width: 16px;
  height: 16px;
  background: url("../../../assets/icons/icon_arrow_left.svg") no-repeat;
  background-size: cover;
}