@import "../../../assets/styles/variables";

.contacts-form {
  max-width: 600px;
  margin: 0 auto;
  &__add {
    margin-top: 16px;
    color: $primaryBlue;
  }

  &__content {
    margin-top: 20px;
  }
  & .input-text-field:not(:last-child) {
    margin-bottom: 16px;
  }
}
