@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.home-module {
  &__content {
    padding-top: 20px;
    padding-bottom: $navbarBottomPadding;
  }

  // 🔥 Блок баннеров — теперь фиксированная высота
  &__banners {
    margin: 0 -15px;
    position: relative;
    overflow: hidden;

    border-radius: 12px;

    @media (min-width: 768px) {
      height: auto; // чуть выше на планшетах и десктопах
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // изображение обрезается по размеру, не тянется
      display: block;
    }
  }

  &__categories {
    margin-top: 10px;
  }

  &__scroller {
    overflow-x: hidden !important;
  }

  &__category {
    &:not(:first-child) {
      margin-top: 30px;
    }

    &-top {
      overflow: hidden;

      & a {
        color: $primaryBlue;
        white-space: nowrap;
        margin-left: 10px;
      }
    }

    &-slider {
      margin-top: -50px;
    }
  }

  &__regions {
    padding-bottom: $navbarBottomPadding;
  }

  &__empty {
    &-image {
      width: 100%;
      margin-top: 30px;

      & img {
        max-width: 100%;
      }
    }

    &-text {
      color: $textGrey;
      margin-top: 25px;
      text-align: center;
    }
  }
}

.home-module-header {
  &__wrap {
    @include stickyHeader;
  }

  height: $headerHeight;

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__search {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }

  &__logo {
    width: 24px;
    min-width: 24px;
    height: 24px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__region {
    overflow: hidden;
    margin: 0 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-title {
      color: $primaryBlue;
      margin: 0 10px 0 5px;
    }

    &-location {
      min-width: 20px;
    }

    &-arrow {
      min-width: 10px;
    }
  }
}


.banner-local {
  height: 120px !important;
}

