@import "../../../assets/styles/variables";

.client-card {
  &__avatar {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  &__info {
    position: relative;
    z-index: 1;
    margin-top: -1.5rem;
    background: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 96px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    overflow: hidden;
    padding: 16px 12px;
    &-id {color: $c-grey-818c99;}
    &-name {color: $primaryBlack;}
    &-role {color: $c-yellow-fbbc05;}
    &-phone {color: $primaryBlue; display: inline-block;}
  }
}