@import "../../assets/styles/variables";

.receipts-sales-page {
  &__content { padding-bottom: $navbarBottomPadding; }
  &__top {
    padding-bottom: 5px;
    border-bottom: 1px solid #F5F5F5;
    cursor: pointer;
  }
  &__summary {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  &__list { padding-top: 15px; }
  &__calendar {
    margin-top: 5px;
    color: $primaryBlue;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__empty {
    &-image {
      display: block;
      max-width: 100%;
      margin: 30px auto 0;
    }
    &-title {
      text-align: center;
      margin-top: 15px;
      color: $textGrey;
    }
    &-link {
      display: block;
      margin-top: 20px;
      text-align: center;
      color: $primaryBlue;
    }
  }
}