@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.saved-posts-page {
  &__content {
    @include contentHeight;
    padding-top: 20px;
  }
  &__list {
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  &__card {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  &__empty {
    height: 100%;
    display: flex;
    & > div {
      margin: auto;
    }
  }
}