@import "../../../assets/styles/variables";
.organization-dsc-card {
  display: flex;
  align-items: center;
  &__right {
    color: $textGrey;
    margin-left: 15px;
    overflow: hidden;
    flex-grow: 1;
  }
  &__title {
    color: $primaryBlack;
    &--verified {
      transform: translateY(2px);
    }
    &--banned {
      color: #FF0000; 
    }
  }
  &__discounts {
    display: flex;
    align-items: center;
    &.promo {
      .organization-dsc-card__discount::after {
        background: transparent!important;
      }
    }
  }

  &__discount {
    margin-right: 1px;
    &-promo {
      width: 24px;
      min-width: 24px;
      height: 24px;
    }
    &:not(:last-child)::after {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      background: $textGrey;
      border-radius: 50%;
      margin: 0 5px 3px 5px;
    }
  }
}