@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.roles-page {
  &__content {
    padding: 20px 0 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include minHeightWithHeader;
  }

  &__role {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    padding: 0 20px;
    border-radius: 8px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    & svg {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__add {
    height: 44px;
    background: $primaryBlue;
    border-radius: 11px;
    width: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    overflow: hidden;

    &-link {
      flex-grow: 1;
      height: 100%;
      color: #FFF;
      text-align: left;
      padding: 0 16px;
      display: flex;
      align-items: center;
    }

    &-icon {
      background: #689DF6;
      width: 64px;
      height: 100%;
      min-width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      & svg path {
        fill: #FFF;
      }
    }
  }
}