@import "../../../assets/styles/variables";

.verify-form {
  margin-top: 25px;
  .verification-code {margin-top: 50px;}
  .login-page__title {margin-top: 25px;}
  &__button {margin-top: 50px;}
  &__resend {
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: $primaryBlue;
    cursor: pointer;
    text-align: center;
    display: block;
  }
  &__phone {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: $textGrey;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  &__code {
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-sent {
      .login-page__title {margin-top: 70px;}
    }
  }
}