@import "../../../assets/styles/variables";

.input-text-field {
  padding-top: 10px;
  &__input-group {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }

  &__input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: $primaryBlack;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid $lightGrey;
    &:disabled {
      background: transparent;
    }
    &::placeholder {
      font-size: 17px;
      color: #ff0000;
      letter-spacing: -0.408px;
    }
    //&:focus {
    //  border-color: $primaryBlack;
    //}
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $textGrey;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;

    pointer-events: none;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    &--required-error {
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      color: $textGrey;
      top: -6px;
      left: 0;
    }
  }

  &__tools {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    &-hidden {
      display: none;
    }
    & svg:not(:last-child) {
      margin-right: 5px;
    }
    &-copy:hover path {
      fill: #0c5af2;
      -webkit-transition: fill 0.5s ease;
      -o-transition: fill 0.5s ease;
      transition: fill 0.5s ease;
    }
    &-remove:hover path {
      fill: #fa141c;
      -webkit-transition: fill 0.5s ease;
      -o-transition: fill 0.5s ease;
      transition: fill 0.5s ease;
    }
  }

  &__input:focus ~ &__label,
  &__input-filled ~ &__label,
  &__input:not(:placeholder-shown) ~ &__label {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $labelGrey;
    top: -6px;
    left: 0;
  }

  &__input:-webkit-autofill ~ &__label {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $labelGrey;
    top: -6px;
    left: 0;
  }

  &__map {
    color: $primaryBlue;
    * {
      vertical-align: middle;
    }
  }

  &_error {
    .input-text-field {
      &__input {
        border-color: #f93c10;
      }
    }
  }

  &__error {
    color: #f93c10;
    font-size: 14px;
    margin-top: 5px;
    display: none;
    &_visible {
      display: block;
    }
  }
  &__hint {
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
  }
}

.price-withDiscount {
  color: grey !important;
}

.proceed-form-input {
  color: #007AFF !important;
  font-size: 20px;
}