#views {
  position: fixed;
  z-index: 999;
  right: 0;
  left: 100%;
  bottom: 0;
  display: none;
  top: 0;
  overflow: hidden;

  //transition: all 0.3s ease-in-out;
  //opacity: 0.5;
  &.active {
    left: 0;
    opacity: 1;
    display: block;

    //transition: all 0.3s ease-in-out;
  }

  &.active-coupon {
    z-index: 16;
  }

}

.views-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  background: #fff;
  overflow-y: auto;

  animation-fill-mode: forwards;
  animation-name: slideRightToLeft;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

@keyframes slideRightToLeft {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}