.rent-settings-main-view {
  &__option {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 7em;
    }

    .category-option__image_bg {
      margin-right: 20px;
      background: transparent;
      border: none;
    }
  }
}