@import "@styles/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: $primaryBlue;
  color: #fff;
  padding: 0.4rem 0.75rem;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  text-align: center;
  transition: 300ms;

  &:hover {
    cursor: pointer;
    background-color: darken($primaryBlue, 10%);
  }

  &_inactive {
    background-color: #FFA000;
    gap: 48px;
  }

  svg {
    min-height: 24px;
    min-width: 24px;
  }
}

.cursor-pointer {
  &:hover {
    background: red;
  }
}