@import "../../../assets/styles/variables";

.deletion-toast {
  background: $primaryBlue;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  &__checkmark {
    width: 20px;
    height: 20px;
  }
  &__text {
    margin-left: 0.5em;
    text-align: center;
  }
  &__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
  }
}