$primaryBlue: #007AFF;
$blurBlue: #689df6;

$primaryBlack: #2c2d2e;
$textGrey: #818c99;
$textOrange: #fbbc05;
$labelGrey: #6d7885;
$lightGrey: #ebedf0;
$lightRed: #faebeb;
$borderGrey: #e8eaed;
$offlineRed: #d72c20;
$errorRed: #ff5a60;
$onlineGreen: #34a853;

$buttonHeight: 52px;
$headerHeight: 48px;
$footerHeight: 150px; // ?
$navbarBottomPadding: 91px;
$navBottomPadding: 68px;

$c-blue-4285f4: #007aff;
$c-black-2c2d2e: #2c2d2e;
$c-grey-f5f5f5: #f5f5f5;
$c-grey-818c99: #818c99;
$c-grey-e5e5e5: #e5e5e5;
$c-grey-828282: #828282;
$c-grey-4f4f4f: #4f4f4f;
$c-yellow-fbbc05: #fbbc05;
$c-red-d72c20: #d72c20;
$c-red-eb5757: #eb5757;
$c-green-27ae60: #27ae60;
